version: '3.7'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: pictionary-server
    container_name: server
    volumes:
      - ./server:/usr/src/app
    ports:
      - "5000:5000"
    networks:
      - app-network
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    image: pictionary-client
    container_name: client
    volumes:
      - ./client:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    networks:
      - app-network
    environment:
      - CHOKIDAR_USEPOLLING=true
      - REACT_APP_DEV=true

networks:
  app-network:
    driver: bridge
volumes:
  data-volume:
  node_modules:
  web-root:
    driver: local
  appdata:
    driver: local
